$color: blue;
//左侧菜单高度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-background: #001529;
//顶部导航高度
$base-tabbar-height: 50px;
//logo高度
$base-logo-height: 50px;
//logo右侧文字的大小
$base-logo-title-fontSize: 20px;
